.about {
    padding-top: 80px;
    display: grid;
    grid-template-columns: auto 340px;
    column-gap: 70px;
    align-items: start;
    position: relative;
    &__descr {
        text-align: center;
        p {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
    }
    &__title {
        font-size: 24px;
        line-height: 35px;
    }
    &__divider {
        &::after {
            content: '';
            display: block;
            background-color: black;
            height: 2px;
            width: 300px;
            position: absolute;
            bottom: -60px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 992px) {
    .about {
        padding-top: 40px;
        grid-template-columns: auto;
        justify-items: center;
        &__descr {
            width: 600px;
            margin-top: 20px;
        }
    }
}

@media (max-width: 768px) {
    .about {
        &__descr {
            width: 400px;
        }
    }
}

@media (max-width: 576px) {
    .about {
        &__descr {
            width: 300px;
        }
    }
}