.aboutSingleCoffee {
    padding-top: 80px;
    display: grid;
    grid-template-columns: auto 340px;
    column-gap: 70px;
    align-items: start;
    position: relative;
    &__wrapper {
        text-align: center;
        p {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
    }
    &__title {
        font-size: 24px;
        line-height: 35px;
    }
    &__descr {
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        &-price {
            font-weight: 700;
            span {
                font-size: 24px;
            }
        }
        span {
            font-weight: 700;
        }
    }
}